@import "normalize.scss";
@import "animations.scss";

body {
  background: lightgray url("./assets/img/background.jpg") no-repeat 0 0;
  //background-repeat: repeat;
  background-size: cover;
  color: #333;
  margin: 0;
  //position: relative;
  //font-family: 'Roboto', sans-serif;
}

.overlay {
  //background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5vh;
  font-size: 2em;
}

section {
  width: 100%;
}

h1 {
  font-size: 1.2em;
  margin: 0.4em 0;
}

.wrapper {
  max-width: 1000px;
  min-width: 660px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 97vh;
  min-height: calc(var(--vh, 1vh) * 97);
  //background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 1vh;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.github img {
  width: 50px;
}

.rsschool img {
  width: 120px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
  margin-top: 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .navbar-item {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar-item::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  margin-right: 10px;
  flex-shrink: 0;
}

.navbar-btn-home::before {
  background-image: url("./assets/img/home.png");
}

.navbar-btn-categories::before {
  background-image: url("./assets/img/categories.png");
}

.main-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;

  .btn {
    width: 100%;
  }
}

.btn {
  border-radius: 10px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid #c8c8c8;
  transition: border 0.5s, background-color 0.1s;

  &:hover {
    border-color: #777;
  }

  &:active {
    background-color: #eee;
  }
}

.main-btn {
  margin: 10px 0;

  a {
    display: inline-block;
    padding: 20px;
    color: #000;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-icon::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  margin-right: 20px;
  flex-shrink: 0;
}

.btn-byartist::before {
  background-image: url("./assets/img/painter.png");
}

.btn-bypicture::before {
  background-image: url("./assets/img/paint.png");
}

.btn-settings::before {
  background-image: url("./assets/img/settings.png");
}

.categories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px 10px;

  li {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s, filter 0.5s;

    &:hover {
      //transform: scale(1.01);
      filter: brightness(1.13);
    }
  }

  .categories {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    color: black;
    background-size: cover;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .number {
    position: absolute;
    left: 5%;
    top: 0%;
    //transform: translate(-50%, -50%);
    font-size: 2.4em;
    color: white;
    filter: none;
    pointer-events: none;
  }

  .categories-results {
    position: absolute;
    bottom: 3%;
    right: 5%;
    pointer-events: none;
  }

  .results {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transform: translate(48%, 58%);
    transition: width 0.5s, height 0.5s;

    &:hover {
      width: 225px;
      height: 225px;
    }
  }

  a {
    color: black;
    width: 230px;
    height: 230px;
  }
}

.hidden {
  display: none;
}

.results {
  color: black;
}

.results-container {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-around;
  // gap: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-gap: 20px 0;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;

  .front {
    position: relative;
    height: 230px;

    .score {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
  border-radius: 10px;
  width: 230px;
  height: 230px;

  div {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.results {
}

.grayscale {
  filter: grayscale(1) contrast(0.5) brightness(1.1);
}

.half-grayscale {
  //filter: grayscale(0.8) contrast(0.3) brightness(1.3);
  transition: filter 0.5s;
  filter: grayscale(1) contrast(0.5) brightness(1.1);

  &:hover {
    filter: none;
  }
}

.results img {
  width: 230px;
  border-radius: 10px;
  cursor: pointer;
}

.progressbar-container {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 9;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      width: 12px;
      height: 12px;
      border: 2px solid #888;
      border-radius: 50%;
      transition: background-color 1s, border 1s;
    }

    .current {
      border-color: white;
    }
    .wrong {
      background-color: red;
    }
    .correct {
      background-color: lightgreen;
    }
  }
}

.invisible {
  opacity: 0;
}

.spoiler {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.7em;
}

.flip-container {
  cursor: pointer;
  transition: filter 0.5s;
  .back {
    transition: background-color 0.5s;
    background-color: rgba(224, 221, 124, 0.5);
  }
  &:hover {
    filter: brightness(1.15);
    .back {
      background-color: rgba(235, 232, 128, 0.5);
    }
  }
}

.shield {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: rgba(40, 30, 40, 0.1);
  border-radius: 10px;
}

.answers-container {
  display: grid;
  grid-template-columns: 50% 50%;
  //grid-template-rows: 50px 50px;
  //background-color: #ccc;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  position: relative;

  li {
    margin: 5px;

    a {
      display: block;
      background-color: #fff;
      padding: 10px;
      transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out,
        border 0.5s;
      border-radius: 10px;
    }
    .wrong {
      box-shadow: 0 0 40px 40px #e74c3c inset;
    }
    .correct {
      box-shadow: 0 0 40px 40px lightgreen inset;
    }
  }
}

button {
  box-shadow: none;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.image-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  //border-radius: 10px;
  .show-result {
    cursor: pointer;
  }

  .show-result,
  .finish-card {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    height: 600px;
    z-index: 10;
    transition: top 0.3s;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border: 1px solid #ccc;
  }

  .show {
    top: 0;
  }

  .show-result p {
    margin: 25px 0;
    padding: 0;
  }

  .show-result-data {
    font-weight: bold;
    margin: 34px 0;
  }

  .show-result .btn {
    border-color: #999;
  }
  .show-result:hover .btn {
    border-color: #333;
  }

  .show-result-picture {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("./assets/img/answers.png");
    margin-top: 10px;
    flex-shrink: 0;
  }

  .show-result-author {
    font-size: 1.4em;
  }

  .show-result-name {
    font-size: 1.3em;
  }

  .show-result-year {
    font-size: 1.2em;
  }

  .btn-next {
    margin-left: 10px;
    margin-right: 10px;
  }

  .finish-card {
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 8;
    transition: top 2.6s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.finish-card-data {
  margin-bottom: 50px;
}

.finish-card-status {
  font-size: 1.7em;
  font-weight: bold;
}

.finish-card-count {
  font-size: 2em;
  font-weight: bold;
}

.finish-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.finish-card-smile {
  width: 160px;
  height: 160px;
  background-image: url("./assets/img/smiles.png");
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.finish-card-btn {
  padding: 20px;
  margin: 5px;
}

.github {
  width: 80px;
  text-align: left;
}

fieldset {
  border-radius: 15px;
  max-width: 600px;
  padding: 40px;
}

.volume-input {
  width: 200px;
}

.settings-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 40px;
}

.settings-btn-container a {
  margin-right: 20px;
}

.settings-btn {
  padding: 10px 20px;
}

.settings-on-off-btn {
  width: 53px;
  height: 40px;
  background-repeat: no-repeat;
  margin-right: 20px;
  cursor: pointer;
}

.volume-btn {
  background-image: url("./assets/img/volume.png");
  background-position-x: -56px;
}

.timer-btn {
  background-image: url("./assets/img/timer.png");
}

.timer-off {
  background-position-x: -61px;
}

.volume-off {
  background-position-x: 0px;
}

.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  cursor: pointer;
}

.timer-input {
  border: none;
  background-color: transparent;
  text-align: center;
  outline: 0;
  cursor: initial;
  width: 50px;
}

.amount-section {
  display: flex;
  flex-direction: row;
}

.change-timer-btn {
  padding: 10px 20px;
}

.amount-minus {
  margin-right: 10px;
}

.settings-on-off-btn {
  opacity: 0.75;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
    filter: brightness(0);
  }
}

.footer-btn {
  filter: brightness(1);
  transition: filter 0.5s;

  &:hover {
    opacity: 1;
    filter: brightness(1.4);
  }
}

.timer-progressbar {
  width: 100%;
  height: 5px;
  background-color: lightgreen;
  margin-bottom: 20px;
  transition: 0;
}

.smooth {
  transition: 1s width linear, 2s background-color linear;
}

.hint {
  font-size: 1em;
  font-style: italic;
}

.bypicture-container {
  .answer {
    height: 268px;
    background-size: cover;
    transition: filter 0.5s;

    &:hover {
      filter: brightness(1.1);
    }
  }

  .extend {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }

  .progressbar-container {
    position: initial;
    margin-top: 6px;
  }

  ul {
    li {
      border-color: #ccc;
    }
    .current {
      border-color: #999;
    }
  }

  .show-result-data {
    margin: 15px 0;
  }
}

@media screen and (max-width: 800px) {

  body {
    font-size: 12px;
  }

  .overlay {
    padding: 0;
  }

  .wrapper {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    border-radius: 0;
    width: 590px;
    min-width: initial;
    max-width: initial;
    padding: 5px;
  }

  fieldset {
    max-width: 560px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-nav {
    padding: 5px 5px 0 5px;

    .navbar-item {
      font-size: 0;

      &:before {
        margin: 0;
      }
    }
  }

  .main-btn-container {
    max-width: 500px;
    a {
      min-height: 106px;
    }
  }

  .answers-container {
    li {
      a {
        min-height: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .image-container {
    .btn-next {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 40px;
    }
  }

  .categories-container {
    gap: 0;
    li {
      margin: 3px;
    }
    a {
      width: 190px;
      height: 190px;
    }
  }

  .bypicture-container {
    .answers-container {
      width: 100%;

      li {
        margin: 3px;

        a {
          height: 272px;
        }
      }
    }
  }

  .results-container {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    grid-template-columns: repeat(auto-fill, 190px);
    grid-gap: 10px 0;
    
    .front {
      height: 190px;
    }

    .back {
      width: 190px;
      height: 190px;
    }

    img {
      width: 190px;
    }
  }
}
